# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/

# OS files
Thumbs.db
.DS_Store

# SQLite DB
websites.db

# Streamlit caches
.streamlit/
.venv/
websites.db
websites_export.csv
__pycache__/
.pytest_cache/
*.pyc
*.pyo
env/
venv/
/.vscode/